<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.ishop.mapper.OrderMapper">



    <select id="queryByParams" resultType="com.fc.ishop.vo.order.OrderSimpleVo">
        select o.sn,o.flow_price,o.create_time,o.order_status,o.pay_status,o.payment_method,o.payment_time,o.member_name,o.order_type,o.deliver_status
            ,GROUP_CONCAT(oi.goods_id) as group_goods_id
            ,GROUP_CONCAT(oi.sku_id) as group_sku_id
            ,GROUP_CONCAT(oi.num) as group_num
            ,GROUP_CONCAT(oi.image) as group_images
            ,GROUP_CONCAT(oi.goods_name) as group_name
            ,GROUP_CONCAT(oi.after_sale_status) as group_after_sale_status
            ,GROUP_CONCAT(oi.complain_status) as group_complain_status
            ,GROUP_CONCAT(oi.comment_status) as group_comment_status
            ,GROUP_CONCAT(oi.sn) as group_order_items_sn
            ,GROUP_CONCAT(oi.goods_price) as group_goods_price
             FROM i_order o INNER JOIN i_order_item AS oi on o.sn = oi.order_sn ${ew.customSqlSegment}
    </select>

</mapper>